swagger: "2.0"
info:
  title: Bank Argent API documentation
  description: Contains all available API endpoints in this codebase
  version: "1.0.1"
  termsOfService: "http://swagger.io/terms/"
host: oc-argentbank.strikelab.fr
basePath: /api/v1
schemes:
  - https
paths:
  /user/login:
    post:
      tags:
        - User Module
      summary: Login
      description: API for Login
      parameters:
        - in: body
          name: body
          description: Login Payload
          required: true
          schema:
            $ref: "#/definitions/Login"
      produces:
        - application/json
      responses:
        "200":
          description: Login Successfully
          schema:
            $ref: "#/definitions/LoginResponse"
        "400":
          description: Invalid Fields
        "500":
          description: Internal Server Error
  /user/signup:
    post:
      tags:
        - User Module
      summary: Signup
      description: API for Signup
      parameters:
        - in: body
          name: body
          description: Signup Payload
          required: true
          schema:
            $ref: "#/definitions/User"
      produces:
        - application/json
      responses:
        "200":
          description: Signup Successfully
          schema:
            $ref: "#/definitions/ApiResponse"
        "400":
          description: Invalid Fields
        "500":
          description: Internal Server Error
  /user/profile:
    post:
      security:
        - Bearer: []
      tags:
        - User Module
      summary: User Profile API
      description: API for fetching a user profile
      responses:
        "200":
          description: User profile retrieved successfully
          schema:
            $ref: "#/definitions/ApiResponse"
        "400":
          description: Invalid Fields
        "500":
          description: Internal Server Error
    put:
      security:
        - Bearer: []
      tags:
        - User Module
      summary: User Profile API
      description: API for updating a user profile
      parameters:
        - in: body
          name: body
          description: Update user profile attributes
          required: true
          schema:
            $ref: "#/definitions/UserProfile"
      produces:
        - application/json
      responses:
        "200":
          description: User profile updated successfully
          schema:
            $ref: "#/definitions/ApiResponse"
        "400":
          description: Invalid Fields
        "500":
          description: Internal Server Error
  /user/accounts:
    get:
      tags:
        - User Module
      summary: Get User Bank Accounts
      description: API to retrieve the user's bank accounts
      security:
        - Bearer: [] # Requires authentication
      produces:
        - application/json
      responses:
        "200":
          description: User bank accounts retrieved successfully
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Account"
        "400":
          description: Invalid Fields
        "401":
          description: Unauthorized (Bearer token required)
        "500":
          description: Internal Server Error
  /user/accounts/{accountId}/transactions: # New endpoint for user bank account transactions
    get: # This is a GET request to retrieve user bank account transactions
      tags:
        - User Module
      summary: Get User Bank Account Transactions
      description: API to retrieve a user's bank account transactions without month filtering
      security:
        - Bearer: [] # Requires authentication
      parameters:
        - in: path
          name: accountId
          description: ID of the user's bank account
          required: true
          type: string
        - in: query
          name: page
          description: Page number for pagination (optional)
          type: integer
        - in: query
          name: limit
          description: Number of transactions per page (optional)
          type: integer
      produces:
        - application/json
      responses:
        "200":
          description: User bank account transactions retrieved successfully
          schema:
            type: "array" # Directly specify the response as an array
            items:
              $ref: "#/definitions/Transaction" # Reference the definition of a single transaction
        "400":
          description: Invalid Fields
        "401":
          description: Unauthorized (Bearer token required)
        "500":
          description: Internal Server Error
  /transactions/{transactionId}: # Endpoint to get all details of a transaction
    get: # This is a GET request to get all details of a transaction
      tags:
        - User Module
      summary: Get Transaction Details
      description: API to retrieve all details of a user's transaction
      security:
        - Bearer: [] # Requires authentication
      parameters:
        - in: path
          name: transactionId
          description: ID of the transaction to retrieve
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Transaction details retrieved successfully
          schema:
            $ref: "#/definitions/Transaction"
        "400":
          description: Invalid Fields
        "401":
          description: Unauthorized (Bearer token required)
        "500":
          description: Internal Server Error
    patch: # This is a PATCH request to update transaction details
      tags:
        - User Module
      summary: Update Transaction
      description: API to update details of a user's transaction (note or category).
      security:
        - Bearer: [] # Requires authentication
      parameters:
        - in: path
          name: transactionId
          description: ID of the transaction to update
          required: true
          type: string
        - in: body
          name: body
          description: Update transaction details
          required: true
          schema:
            $ref: "#/definitions/UpdateTransaction"
      produces:
        - application/json
      responses:
        "200":
          description: Transaction updated successfully
          schema:
            $ref: "#/definitions/Transaction"
        "400":
          description: Invalid Fields
        "401":
          description: Unauthorized (Bearer token required)
        "500":
          description: Internal Server Error
securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header
definitions:
  User:
    properties:
      email:
        type: string
        description: user email
      password:
        type: string
        description: user password
      firstName:
        type: string
        description: user first name
      lastName:
        type: string
        description: user last name
      userName:
        type: string
        description: user public name
  Login:
    properties:
      email:
        type: string
        description: user email
      password:
        type: string
        description: user password
  ApiResponse:
    type: object
    properties:
      status:
        type: integer
      message:
        type: string
      body:
        type: object
        properties:
          id:
            type: string
          email:
            type: string
  LoginResponse:
    type: object
    properties:
      token:
        type: string
  UserProfile:
    type: object
    properties:
      userName:
        type: string
  UserAccountsResponse:
    type: object
    properties:
      accounts:
        type: array
        items:
          $ref: "#/definitions/Account"
  UserAccountTransactionsResponse:
    type: object
    properties:
      transactions:
        type: array
        items:
          $ref: "#/definitions/Transaction"
  Account:
    type: object
    properties:
      id:
        type: string
        description: Account ID
      name:
        type: string
        description: Account name
      type:
        type: string
        description: Account type
      balance:
        type: number
        description: Account balance
  Transaction:
    type: object
    properties:
      id:
        type: string
        description: Transaction ID
      date:
        type: string
        description: Transaction date
      description:
        type: string
        description: Transaction description
      amount:
        type: number
        description: Transaction amount
      balance:
        type: number
        description: Account balance after the transaction
      type:
        type: string
        description: Transaction type
      category:
        type: string
        description: Transaction category
      note:
        type: string
        description: Transaction note
  UpdateTransaction:
    type: object
    properties:
      category:
        type: string
        description: Updated transaction category (optional)
      note:
        type: string
        description: Updated transaction note (optional)
